body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 6rem;
  gap: 5.5rem;
}

.book-card {
  background-color: #ffffff;
  border-left: 5px solid #4caf50;
  border-radius: 10px;
  width: 200px;
  padding: 2rem;
  padding-bottom: 4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.book-card:hover {
  transform: translateY(-5px);
}

.book-card h2 {
  margin: 0 0 0.5rem;
  font-size: 2rem;
  color: #333;
}

.book-card p {
  margin: 0.3rem 0;
  color: #555;
  font-size: 1.2rem;
}
